@tailwind base;
@tailwind components;
@tailwind utilities;
:root { --font-sans: "Be Vietnam Pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
body { font-family: var(--font-sans); }
